@import "./_fonts"
@import "./_icones"
@import "./_variables"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"

h1, h2, h5
    font-family: "Courge"
body
    font-family: "Roboto"
header
    background-image: url("../../public/img/banner1.jpg")
    background-position: center
    background-repeat: none
    background-size: cover
    background-color: #383838b0
    background-blend-mode: multiply
.nav-item
    font-size: 12px
    border-top: 1px solid white
    border-bottom: 1px solid white
    &:active
        background-color: #BB2D3B !important
.carousel-item
    min-height: 80vh
#border-btm
    background-image: url("../../public/img/bottom_decoration_img.png")
    background-color: transparent
    height: 10px
    background-position: center
.section1
    background-image: url("../../public/img/main_bg.jpg")
    background-position: center
    background-size: auto
    p
        padding: 0 20%
    .corner-topleft
        top: 0
        left: 0
        height: 150px
        width: 150px
        background-image: url("../../public/img/box-left-top.png")
        background-size: cover
        background-repeat: none
        background-position: center 
    .corner-topright
        top: 0
        right: 0
        height: 150px
        width: 150px
        background-image: url("../../public/img/box-right-top.png")
        background-size: cover
        background-repeat: none
        background-position: center
    .corner-btmleft
        bottom: 0
        left: 0
        height: 150px
        width: 150px
        background-image: url("../../public/img/box-bottom-left.png")
        background-size: cover
        background-repeat: none
        background-position: center 
    .corner-btmright
        bottom: 0
        right: 0
        height: 150px
        width: 150px
        background-image: url("../../public/img/box-bottom_right.png")
        background-size: cover
        background-repeat: none
        background-position: center  
    .nav-link.active
        border-right: 5px solid #BB2D3B !important
        background-color: white !important
    .fa-hamburger.active
        color: #BB2D3B !important
    .fa-concierge-bell.active
        color: #BB2D3B !important
    .fa-mug-hot.active
        color: #BB2D3B !important
    .fa-coffee.active
        color: #BB2D3B !important


#v-pills-home-tab:focus
    background-color: #fff

.section2
    background-image: url("../../public/img/team_background.jpg")
    background-position: center
    background-size: cover
    background-color: #383838b0
    background-blend-mode: multiply
.section3
    background-image: url("../../public/img/main_bg.jpg")
    background-position: center
    background-size: auto
    .corner-topleft-grey
        top: 0
        left: 0
        height: 150px
        width: 150px
        background-image: url("../../public/img/box-left-top-grey.png")
        background-size: cover
        background-repeat: none
        background-position: center 
    .corner-topright-grey
        top: 0
        right: 0
        height: 150px
        width: 150px
        background-image: url("../../public/img/box-right-top-grey.png")
        background-size: cover
        background-repeat: none
        background-position: center
    .corner-btmleft-grey
        bottom: 0
        left: 0
        height: 150px
        width: 150px
        background-image: url("../../public/img/box-bottom-left-grey.png")
        background-size: cover
        background-repeat: none
        background-position: center 
    .corner-btmright-grey
        bottom: 0
        right: 0
        height: 150px
        width: 150px
        background-image: url("../../public/img/box-bottom_right-grey.png")
        background-size: cover
        background-repeat: none
        background-position: center  
    .reservation
        background-image: url("../../public/img/book_table_bg.jpg")
        background-size: cover
        background-position: center
        border-radius: 10px
    .image-blog1
        img
            z-index: 0
            border-radius: 10px
            border: grey solid 5px
        p
            position: relative
            top: -25px
            border-radius: 10px
            margin: 0
            padding: 0


